body {
  background-color: #222;
  font-family: Arial;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #FFF;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
}

.button1 {font-size: 20px;}